<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/google-code-prettify/run_prettify.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/clike.js"></script>
    <title>escalatr</title>
</head>
<body>
<h1><i>escalatr</i></h1>
<p id="strap">A fun place where learning about Scala can happen through your eyes and fingers</p>
<div id="content">
    <textarea rows="10" cols="50" id="scratchpad" name="code" form="form">
        {{scratchpadText}}
    </textarea>
    <form action={{action}} id="form" method="post">
        <div id="submit"><input type="submit" value="Do it!"/></div>
        {{#hiddenParams}}
            <input type="hidden" name="{{hiddenParam._1}}" value="{{hiddenParam._2}}"/>
        {{/hiddenParams}}
    </form>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('scratchpad'), {mode: 'text/x-scala'});
    </script>
    <div class="footer">
        <a href="/problem/0">First problem</a>
    </div>
</div>
</body>
</html>