<html>
    {{> head}}
<body>
<h1><i>escalatr</i></h1>
<p id="strap">A fun place where learning about Scala can happen through your eyes and fingers</p>
<div id="content">
    {{> scratchpad}}
    <p>{{compilerMessage}}</p>
    <div id="output"><p>{{compilerOutput}}</p></div>
    <div class="footer">
        <a href="/problem/1">First problem</a>
    </div>
</div>
</body>
</html>